PAPYRUS_MINIO_URL= <MINIO HOST:PORT>
PAPYRUS_MINIO_ACCESS_KEY= <Key generated using Minio dashboard>
PAPYRUS_MINIO_SECRET_KEY= <Secret generated using Minio dashboard>

PAPYRUS_POSTGRES_DB= <Postgres database>
PAPYRUS_POSTGRES_HOST= <Host to Postgres instance>
PAPYRUS_POSTGRES_PORT= <Port of Postgres instance>
PAPYRUS_POSTGRES_USER= <User of Postgres instance>
PAPYRUS_POSTGRES_PASSWORD= <Password to Postgres instance>

PAPYRUS_BROKER_URL= redis://localhost:6379
PAPYRUS_BACKEND_URL= redis://localhost:6379

PAPYRUS_INFERENCE_URL=http://localhost:8001

